<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:theme="@style/GameTheme">

        <!-- fullUser: follows the sensor in every orientation unless the phone's rotation lock is on.
             configChanges: a rotate resizes the WebView instead of restarting the activity (and the run). -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|navigation|density|uiMode"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
